div{
    width: 200px;
    height:200px;
    background:wheat;
    font-size:30px;
    text-align:center;
    line-height:200px;
    /*  Insert code bellow  */
    border: solid black 3px;
    border-radius: 50px;
  }